<div class="container py-3 pb-2">
  <div class="row">
    <div class="col-md-3 gray-border-right">
      <%= form_tag '/filter_source' do %>
        <div class="d-flex justify-content-between mb-1">
          <%= select_tag :filter_source, options_for_select(@sources, @filter_source),
            include_blank: 'Select List',
            class: 'form-control flex-fill chosen-select' %>
          <%= button_tag 'Load', class: 'btn btn-secondary ml-2' %>
        </div>
        <%= radio_button_tag :filter_type, :new_domains, @filter_type == 'new_domains' %>
        <%= label_tag :filter_type_new_domains, 'New', class: 'mr-2' %>
        <%= radio_button_tag :filter_type, :all_domains, @filter_type == 'all_domains' %>
        <%= label_tag :filter_type_all_domains, 'All' %>
      <% end %>
    </div>

    <div class="col-md-9">
      <%= form_tag '/tagging' do %>
        <div class="row">
          <div class="col">
            <%= select_tag :segment, options_for_select(@segments, @segment),
              include_blank: 'Segment',
              class: 'form-control' %>

            <div class="mt-2">
              <%= link_to 'Report', report_path, class: 'mr-3' %>
              <%= link_to 'Add Domains', add_domains_path %>
            </div>
          </div>

          <div class="col">
            <%= select_tag :content_type, options_for_select(@content_types, @content_type),
              include_blank: 'Content Type',
              class: 'form-control' %>
          </div>

          <div class="col" style="flex-grow: 0; white-space: nowrap;">
            <%= radio_button_tag :location, :us, @location == 'us' %>
            <%= label_tag :location_us, 'US', class: 'mb-0' %>
            <br>
            <%= radio_button_tag :location, :intl, @location == 'intl' %>
            <%= label_tag :location_intl, 'INTL', class: 'mb-0' %>
          </div>

          <div class="col">
            <div class="d-flex mb-2">
              <%= hidden_field_tag :next_domain, @next_domain %>
              <%= hidden_field_tag :source, @source %>
              <%= hidden_field_tag :notes, @notes %>
              <button class="btn btn-secondary mr-2"
                      type="button" 
                      data-toggle="modal"
                      data-target="#notesModal">Notes</button>
              <%= text_field_tag :domain, @domain, class: 'form-control', readonly: true %>
              <%= submit_tag "Skip", name: 'skip', 
                  class: 'btn btn-secondary ml-2' %>
            </div>

            <div class="d-flex justify-content-between" 
                 style="margin-left: -0.25rem; margin-right: -0.25rem">
              <%= submit_tag 'Junk', name: 'rank',
                class: "btn btn-sm btn-danger flex-fill mx-1 #{'active' if @rank == 'Junk'}" %>
              <%= submit_tag 'rD', name: 'rank',
                class: "btn btn-sm btn-warning flex-fill mx-1 #{'active' if @rank == 'rD'}" %>
              <%= submit_tag 'rC', name: 'rank',
                class: "btn btn-sm btn-lemon flex-fill mx-1 #{'active' if @rank == 'rC'}>" %>
              <%= submit_tag 'rB', name: 'rank',
                class: "btn btn-sm btn-lime flex-fill mx-1 #{'active' if @rank == 'rB'}" %>
              <%= submit_tag 'rA', name: 'rank',
                class: "btn btn-sm btn-success flex-fill mx-1 #{'active' if @rank == 'rA'}" %>
              <%= submit_tag 'rAA', name: 'rank',
                class: "btn btn-sm btn-success flex-fill mx-1 #{'active' if @rank == 'rAA'}" %>
              <%= submit_tag 'rAAA', name: 'rank',
                class: "btn btn-sm btn-success flex-fill mx-1 #{'active' if @rank == 'rAAA'}" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% case @output %>
<% when 'doc' %>
  <iframe srcdoc="<%= @doc %>" style="width:100%; height: calc(100% - 109px);" frameborder="0"></iframe>
<% when 'picture' %>
  <div>
    <img src="site_screenshot.png" alt="site screenshot">
  </div>
<% else %>
  <%= @output_error.html_safe %>
<% end %>

<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= text_area_tag :notes_field, @notes, class: 'form-control', rows: 10 %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="btn-notes">Save</button>
      </div>
    </div>
  </div>
</div>
